.header__section_type_top {
  background-color: #fed600;
  width: calc(100% - 240px);
  padding: 0 120px;
  min-height: 32px;
}

@media screen and (max-width: 1279px) {
    .header__section_type_top {
      width: calc(100% - 40px);
      padding: 0 20px;
    }
  }