.menu_type_top{
    margin-top: 13px;
}

@media screen and (max-width: 950px){
    .menu_type_top{
        flex-direction: column;
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #fff;
        max-width: 160px;
        font-size: 15px;
        z-index: 100;
        min-height: 400px;
        box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
        padding: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 490px){
    .menu_type_top{
        max-width: 120px;
        font-size: 13px;
    }
}