.lead {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: 'SF Pro Display', sans-serif;
}

@media screen and (max-width: 1279px){
    .lead{
        width: 90%;
    }
}