.button_type_login {
  background-color: inherit;
  color: #000;
}

@media screen and (max-width: 768px) {
  .button_type_login {
    margin-right: 20px;
  }
}

@media screen and (max-width: 489px) {
  .button_type_login {
    display: none;
  }
}
