.button_type_video{
    height: 40px;
    width: 40px;
    border: 1px solid #E5E5E5;
    border-radius: 4px 0px 0px 4px;
    transition: opacity 1s linear;
    background-color: inherit;
}

.button_type_video:last-of-type{
    border-left: none;
    border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width: 767px){
    .button_type_video{
        display: none;
    }
}