.button_type_search{
    width: 20%;
    max-width: 75px;
    height: 36px;
    border: 2px solid #D2001C;
    background-color: #fff;
    color: #D2001C;
}

@media screen and (max-width: 768px){
    .button_type_search{
        height: 30px;
        width: 30%;
        font-size: 10px;
    }
}