.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 240px);
  padding: 0 120px;
  max-width: 1200px;
}

@media screen and (max-width: 1279px) {
  .navigation__container {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
}
